.cover {
  max-width: 1184px;
  margin: 0 auto;
  padding: 5.75rem 0;
}

@media screen and (max-width: 768px) {
  .cover {
    padding: calc(4rem + (100vw - 320px) / (448) * (26)) 0 calc(4rem + (100vw - 320px) / (448) * (28));
  }
}